@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
}


.main{
    background-image: url("public/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.main .box{
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
}

nav{
    margin: auto;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

nav img{
    color: red;
    position: relative;
    z-index: 100;
}

nav button{
    position: relative;
    z-index: 20;
}

.hero{
    height: 100%;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Martel Sans", sans-serif;
    gap: 25px;
}

.hero> :first-child{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px ;
    text-align: center;
}

.btn{
    padding: 4px 8px;
    font-weight: 500;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    box-sizing: border-box;
    margin-right: 20px;
}

.btn-red{
    position: relative;
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 7px;
    margin-left: 20px;
}

.main input{
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 3px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 2px solid rgba(240, 226, 226, 0.5);
    color: white;
}

.btn-red-sm{
    background-color: red;
    color: white;
    border-radius: 7px;
}

